/reengineering-toolkit/target/
/reengineering-toolkit/.idea/
/reengineering-toolkit/*.iml
/opengrok/*~
/opengrok/*.swp
/opengrok/nbproject/configs/*.properties
/opengrok/tags
/opengrok/TAGS
/opengrok/!opengrok-web/src/main/webapp/WEB-INF/tags
/opengrok/build
/opengrok/dist
/opengrok/coverage
/opengrok/target
/opengrok/opengrok.jar
/opengrok/source.war
/opengrok/prj.el
/opengrok/nbproject/private
/opengrok/plugins/LdapPlugin/nbproject/private/
/opengrok/plugins/UserPlugin/nbproject/private/
/opengrok/generatedsrc
/opengrok/lib/JFlex.jar
/opengrok/lib/jflex-*
/opengrok/lib/findbugs
/opengrok/findbugs
/opengrok/manifest.mf
/opengrok/checkstyle/checkstyle_errors.txt
/opengrok/checkstyle/checkstyle_errors.xml
/opengrok/pmd/pmd_report.html
/opengrok/pmd/pmd_report.xml
/opengrok/pmd/cpd_report.txt
/opengrok/pmd/cpd_report.xml
/opengrok/jdepend/report.txt
/opengrok/jdepend/report.xml
/opengrok/lib/derby.jar
/opengrok/lib/jrcs.jar
/opengrok/lib/lucene-*
/opengrok/lib/javax.servlet-api-*
/opengrok/lib/bcel-*
/opengrok/lib/junit-*
/opengrok/lib/hamcrest-core-*
/opengrok/derby.log
/opengrok/opengrok*.log
/opengrok/nbproject/genfiles.properties
/opengrok/glassfish
/opengrok/opengrok-web-nbproject/nbproject/private/
/opengrok/opengrok-web-nbproject/nbproject/genfiles.properties
/opengrok/run_my.bat
/opengrok/build.bat
/opengrok/jacoco
/opengrok/jacoco.exec
/opengrok/cov-int.zip
/opengrok/cov-int/*
/opengrok/pmd.bat
/opengrok/*.iml
/opengrok/.idea
/opengrok/*.pyc
/opengrok/.wercker
/opengrok/.DS_Store
/opengrok/.project
/opengrok/.settings/
/opengrok/.vscode/
/opengrok/*/bin/
/opengrok/.classpath
/opengrok/.checkstyle
